body {
  background-color: #191E19; 
}
/*MP4 Background*/
#video-container {
  width: 100%;
  max-width: 980px;
  margin: auto;
  clear: both;
}


video {
  width: 100%;
  max-width: 980px;
  position: absolute;
  width: auto;
  height: auto;
  z-index: -1;
}

#masthead {
  width: 100%;
  overflow: auto;
  margin-bottom: 200px;
  padding-top: 50px;
}


h1, h2, h3, p {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    margin:5px 0;
    text-align: center;
}